.content {
  position: relative;
  margin-left: 10rem;
}

.svg {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  /* avoid forcing a raster layer which can make SVG with filters look blurry */
  will-change: auto;
  backface-visibility: hidden;
}

.card-text {
  position: absolute;
  bottom: 1.2em;
  letter-spacing: -0.5px;
  font-weight: 900;
  left: 1em;
  font-size: 2.5rem;
  line-height: 1.5em;
}

.card-text::first-line {
  font-size: 4rem;
}
