.text-type-wrapper h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
  color: white;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
